@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("img/bg.jpg");
  min-height: 80vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header  {
  color: #360f18;
  font-weight: 700;
  font-size: 2.0rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.app-main {
  min-height: 10vh;
  width: 30vw;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(12, 26, 37, 0.3) 0px 1px 10px 0px, rgba(0, 5, 9, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  background: #c0dfec; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #92fe9d,
    #c0dfec
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #92fe9d,
    #c0dfec
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.app-main > * {
  margin-bottom: 20px;
}
.input-box{
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-family: inherit;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  min-width: 300px;
  font-size: 1rem;
  outline: none;
}
/* .input-box {
  width: 100%;
  background: azure;
  color: #e4603a;
  font-weight: 500;
  border: none;
  font-size: 1.7rem;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
} */

.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 19px;
  background-color: #eff1f3;
  display: none;
  background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(
    to top,
    #da1e4e,
    #e4603a
  ); */
}
.location-deatils {
  /* font-weight: bold; */
  font-size: large;
}
.weather-status {
  padding: 20px;
}
.temp {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  padding: 20px;
}
.sun-detail,
.basic {
  font-size: 1rem;
}
#weather-icon {
  color: black;
}


@media screen and (max-width: 800px) {
  .app-main {
    width: 95%;
    padding: 10px;
  }
  body {
    min-height: 94vh;
  }
}
